---
- name: install numerical system packages for pandas
  package: name={{ item }} state=present
  with_items:
    - '{{ blosc_devel }}'
    - python3-lxml
    - '{{ xz_devel }}'

- name: install numerical python packages for pandas
  pip: name={{ item }} virtualenv={{ virtualenv_folder }}
  become_user: '{{ target_user }}'
  with_items:
    - backports.lzma
    - beautifulsoup4
    - blosc
    - boto
    - google-api-python-client
    - html5lib
    - httplib2
    - jinja2
    - oauth2client
    - openpyxl
    - python-gflags
    - xarray
    - xlrd
    - xlwt

- name: install numerical system packages
  package: name={{ item }} state=present
  with_items:
    - python3-h5py
    - python3-numpy
    - python3-pandas
    - python3-scipy
